* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
    background: #D8ECFC;
    color: #008cff;
}