$background: rgb(255 255 255);

$primary-text-color-dark: rgb(18, 18, 18);
$primary-text-color-light: #474645;
$second-text-color-light: rgb(255, 255, 255);
$third-text-color-light: rgb(132, 130, 129);
$fourth-text-color-light: rgb(0 134 252);