@use '../../utils/_mixins' as mixins;
@use '../../utils/variables' as variables;

.section-explore {
    @include mixins.container-size();
    padding: 4.625rem 0px 5.5625rem;

    &__title {
        @include mixins.default-h1();
        text-align: center;
    }

    &__container {
        margin-top: 3.625rem;
        display: grid;
        gap: 34px;
        grid-auto-rows: 4fr;
        grid-template: "left . ." 1fr "left . ." 1fr / 1fr 1fr 1fr;


        &__item {
            padding: 0 1.425rem 0.875rem;
            background: rgb(251, 250, 249);
            border-radius: 12px;
            overflow: hidden;

            &__info {
                margin-top: 0.25rem;
            }

            &__info h5 {
                color: variables.$primary-text-color-dark;
                font-weight: 700;
                font-size: 17px;
                line-height: 26px;
                letter-spacing: -0.22px;
            }

            &__info p {
                color: rgba(71, 70, 69, 0.7);
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.13px;
                margin-top: 3px;
            }

        }

        &__item--first {
            grid-area: left;
        }
    }

}