@use '../utils/_mixins' as mixins;
@use '../utils/variables' as variables;

.banner {
    @include mixins.container-size();
    padding: 7.5rem 0px 6rem;

    &__graphic-container {
        position: absolute;
        inset: 1rem 0px;
        z-index: -1;

        .graphic {
            overflow: visible;
            position: absolute;
            inset: 0px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            overflow: hidden;
        }
    }

    &__data {
        max-width: 67rem;
        margin: 0px auto;
        padding: 38px 1.5rem;
        text-align: center;

        &__title {
            @include mixins.container-size(450px);
            color: variables.$primary-text-color-light;
            font-family: Family, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 68px;
            font-weight: 500;
            padding-bottom: 16px;
        }

        &__description {
            @include mixins.container-size(440px);
            color: #474645;
            font-weight: 600;
            font-size: 17px;
            line-height: 26px;
            letter-spacing: -0.22px;
        }

        &__buttons {
            @include mixins.container-gap(16px, center);
            padding-top: 16px;

            &__left,
            &__right {
                padding: 12px 24px 12px 22px;
                border-radius: 32px;
                font-size: 1.0625rem;
                letter-spacing: -0.09px;
                font-weight: 600;
                text-decoration: none;
                border: none;
                cursor: pointer;

                span {
                    @include mixins.container-gap(12px);
                }

            }

            &__left {
                color: variables.$second-text-color-ligth;
                background: variables.$primary-text-color-light;
            }

            &__left:hover {
                background: variables.$primary-text-color-dark;
            }

            &__right {
                color: variables.$primary-text-color-light;
                background: rgb(251 250 249);
            }

            &__right:hover {
                background: rgb(234 234 234);
            }

        }
    }

}