@use '../utils/_variables' as variables;
@use '../utils/_mixins' as mixins;

header {
    background: variables.$second-text-color-light;
    top: 0;
    position: sticky;
    z-index: 10;
}

.header {
    @include mixins.container-flex(space-between, center);
    @include mixins.container-size();
    padding-block: 1.5rem;

    &__actions {
        @include mixins.container-flex-gap(30px);
    }

    &__button {
        color: #FFF;
        background-color: #000;
        padding: 8px 14px;
        border-radius: 32px;
        font-size: 15px;
        letter-spacing: -0.09px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
}

.menu {
    @include mixins.container-flex-gap(4px);
    list-style: none;

    &__item {
        font-weight: 600;
        font-size: 15px;
        padding: 11px 10px;
        background: variables.$second-text-color-light;
        color: rgb(40, 38, 36);
        cursor: pointer;
    }

    &__item--developers:hover &__sub-menu {
        opacity: 1;

    }

    &__item--developers:hover &__item--developers {
        rotate: 180deg;
    }

    &__item--resource:hover &__sub-menu-lineal {
        opacity: 1;
    }

    &__item--resource:hover &__item--resource {
        rotate: 180deg;
    }

    &__item,
    &__icon {
        @include mixins.container-flex-gap(3px);
    }

    &__icon {
        color: rgb(40, 38, 36);
    }

    &__link {
        text-decoration: none;
        color: rgb(40, 38, 36);
        padding-right: 20px;
    }

    &__sub-menu,
    &__sub-menu-lineal {
        position: absolute;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 16px;
        border-radius: 8px;
        padding: 4px;
        list-style: none;
        opacity: 0;

        li {
            padding: 8px 8px 8px 12px;
        }

        li:hover {
            border-radius: 6px;
            background: rgba(247, 247, 247, 0.822);
        }
    }

    &__sub-menu {
        top: 70px;

        &__item {
            @include mixins.container-flex-gap(16px);

            &__icon {
                box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.6rem;
                width: 36px;
                height: 36px;
            }

            &__info {

                &__badge {
                    @include mixins.container-flex-gap(6px);

                    span {
                        border-radius: 5px;
                        padding: 0px 6px 0px 4px;
                        user-select: none;
                        background: rgb(248 246 244);
                        font-size: 12px;
                        color: rgb(132, 130, 129);
                    }
                }

                h5 {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: -0.13px;
                    color: variables.$primary-text-color-dark;
                }

                p {
                    width: 240px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: -0.09px;
                    color: rgb(132, 130, 129);
                }

            }
        }
    }

    &__sub-menu-lineal {
        top: 70px;
        width: 164px;

        &__item {

            a {
                display: block;
                position: relative;
                text-decoration: none;
                font-size: 15px;
                font-weight: 600;
                padding: 9px 12px;
                border-radius: 6px;
                color: variables.$primary-text-color-light;
            }
        }
    }

}